@model IEnumerable<WebProject.Models.product>
@{
	ViewData["Title"] = "Home";
}
<div class="row pb-4">
	@foreach (var item in Model)
	{
		<div class="card m-2" style="width: 18rem;">
			<img class="card-img-top" src="@item.image" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">@item.name</h5>
				<p class="card-text">Price : @item.price.ToString("0.00") Dt</p>
				<a  asp-action="Details" class="btn btn-primary" asp-route-productId="@item.productid" class="btn btn-outline-primary">Details</a>
			</div>
		</div>
	}
</div>
