@{
    ViewData["Title"] = "Order Success";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Order Successfully Placed!</h1>
            <p class="lead">Thank you for your purchase. Your order has been placed successfully.</p>
            <a class="btn btn-primary" asp-area="customer" asp-action="Index" asp-controller="Home">Back to Home</a>
        </div>
    </div>
</div>
